body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    width: 200px;
    height: 200px;
    background: orange;
    /* transition-delay: 1s; */
    /* transition-duration: 5s; */
    /* transition-property: background, height; */
    /* -o-transition-timing-function: ease-out; */
    /* transition: background 2s ease-in-out, height 5s, border 2s; */
    transition: all 1s;
}

.box:hover{
    background: blue;
    height: 800px;
    border: 2px solid red;
    border-radius: 30px;
}