:root{
    --red:#e74c3c;
    --box-shadow:0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);

}

.gray-block{
    box-shadow: var(--box-shadow);
}

.gray-block-text{
    color: var(--red, purple);
}